# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Pytest / cobertura
.pytest_cache/
.coverage

# Variables de entorno
.env

# Base de datos local
data/*.db
data/*.sqlite
data/*.sqlite3
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

